{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    #stripe {
    font-size: 0;
    }
    button {
        font-size: 14px; // Set font size that you need here
    }

    </style>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
        <div class="container-fluid">
            <a href="">
                <img src="https://kacperglowacki1.000webhostapp.com/usmieszek.png" alt="logo" width="50" height="50">
            </a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon ms-auto"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item"><a href="" class="nav-link active" aria-current="page">HOME</a></li>


                    <li class="nav-item"><a href="{{ path('app_ostronie') }}" class="nav-link">O STRONIE</a></li>


                    <li class="nav-item"><a href="{{ path('app_kontakt') }}" class="nav-link">KONTAKT</a></li>

                </ul></div>
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="btn btn-light" href="{{ path('app_login') }}" role="button">Logowanie</a>
                    </li>
                    <li class="nav-item"><a class="btn btn-light" href="{{ path('app_register') }}" role="button">Rejestracja</a>
                    </li>
                    <li class="nav-item"><a class="btn btn-light" href="{{ path('app_logout') }}" role="button">Wylogowanie</a>
                    </li>
                </ul></div>

                </li>

            </ul>

        </div>
    </nav>




    {% if (is_granted('ROLE_ADMIN'))%}
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa_produktu</th>
                <th>Cena_produktu</th>
                <th>Stan_magazynowy</th>
                <th>Opis_produktu</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>

        {% for crud in cruds %}
            <tr>
                <td>{{ crud.id }}</td>
                <td>{{ crud.NazwaProduktu|capitalize }}</td>
                <td>{{ crud.CenaProduktu }}</td>
                <td>{{ crud.StanMagazynowy }}</td>
                <td>{{ crud.OpisProduktu }}</td>
                <td>
                    <a href="{{ path('app_crud_show', {'id': crud.id}) }}">Pokaż</a>
                    <a href="{{ path('app_crud_edit', {'id': crud.id}) }}">Edytuj</a>
                    <a href="{{ path('app_crud_sell', {'id': crud.id}) }}">Sprzedaj</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a class="btn btn-primary" href="{{ path('app_crud_new') }}" role="button">Nowy produkt</a>
        <a class="btn btn-primary" href="{{ path('app_polaczone') }}" role="button">Lista zamowień</a>
        <a class="btn btn-primary" href="{{ path('app_dane_klienta_index') }}" role="button"> Same dane klientów </a>


   <form>

       <div class="divy">
        Wyszukaj produkt po nazwie: <br>
        <input name="search" value="{{search}}"/><br><button type="submit">Szukaj</button>
           </div>
    </form>
{%elseif (is_granted('ROLE_USER'))%}

        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>Nazwa produktu</th>
                <th>Cena produktu</th>
                <th>Stan Magazynowy</th>
                <th>Opis produktu</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>

            {% for crud in cruds %}
                <tr>
                    <td>{{ crud.NazwaProduktu|capitalize }}</td>
                    <td>{{ crud.CenaProduktu }}</td>
                    <td>{{ crud.Stanmagazynowy }}</td>
                    <td>{{ crud.OpisProduktu }}</td>
                    <td>
                        <a href="{{ path('app_crud_sell', {'id': crud.id}) }}">Kup</a>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h1> Aby zobaczyć produkty musisz się zalogować </h1>

    {% endif %}








</table>

{% endblock %}
