{% extends 'base.html.twig' %}

{% block title %}Produkt{% endblock %}

{% block body %}
    <h1>Produkt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ crud.id }}</td>
            </tr>
            <tr>
                <th>Product_Name</th>
                <td>{{ crud.Product_Name }}</td>
            </tr>
            <tr>
                <th>Product_Price</th>
                <td>{{ crud.Product_Price }}</td>
            </tr>
            <tr>
                <th>Stock_Level</th>
                <td>{{ crud.Stock_Level }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ crud.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_crud_index') }}" role="button">Back to product list</a>

    <a class="btn btn-danger" href="{{ path('app_crud_edit', {'id': crud.id}) }}" role="button">Edit</a>

    {{ include('crud/_delete_form.html.twig') }}
{% endblock %}
