{% extends 'base.html.twig' %}

{% block title %}Produkt{% endblock %}

{% block body %}
    <h1>Produkt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ crud.id }}</td>
            </tr>
            <tr>
                <th>Nazwa_produktu</th>
                <td>{{ crud.NazwaProduktu }}</td>
            </tr>
            <tr>
                <th>Cena_produktu</th>
                <td>{{ crud.CenaProduktu }}</td>
            </tr>
            <tr>
                <th>Stan_magazynowy</th>
                <td>{{ crud.StanMagazynowy }}</td>
            </tr>
            <tr>
                <th>Opis_produktu</th>
                <td>{{ crud.OpisProduktu }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_crud_index') }}" role="button">Wróć do listy produktów</a>

    <a class="btn btn-danger" href="{{ path('app_crud_edit', {'id': crud.id}) }}" role="button">Edytuj</a>

    {{ include('crud/_delete_form.html.twig') }}
{% endblock %}
