{% extends 'base.html.twig' %}
{% block body %}
    {% if (is_granted('ROLE_ADMIN'))%}
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>City</th>
            <th>Zip Code</th>
            <th>Address</th>
            <th>Product_Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>

{% for order in orders %}




    <tr>
        <td>{{order.id }}</td>
        <td>{{order.Name }}</td>
        <td> {{order.Surname}}</td>
        <td> {{order.City}}</td>
        <td> {{order.post_code}}</td>
        <td> {{order.Address}}</td>
        <td> {{order.Product_Name}}</td>
        <td> {{order.Description}}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="6">no records found</td>
    </tr>
{% endfor %}
</tbody>
</table>

 {% endif %}
 <a class="btn btn-primary" href="{{ path('app_crud_index') }}" role="button">Back to list </a>
{% endblock %}